/* About.css */
.about-section {
  background-color: var(--about-bg-color);
  padding: 60px 0;
  font-family: 'Edu SA Beginner', sans-serif;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  align-items: center;
  justify-content: center; /* Horizontally center content */
}

.about-image {
  flex: 0 0 30%; /* Adjust the percentage to control the image width */
  max-width: 30%;
  padding: 20px;
  text-align: center; /* Center the image horizontally */
}

.about-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 0 0 70%; /* Adjust the percentage to control the content width */
  max-width: 60%;
  padding: 20px;
}

.about-content h2 {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
  color: var(--secondary-color);
  line-height: 1.9;
}

/* Add media query to make it responsive on smaller screens */
@media (max-width: 768px) {
  .about-image,
  .about-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding:0 20px;
  }
}
